<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>User Profile - My Bank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <style>
    

    </style>
</head>

<body>
        <div class="container">

	<header>
        <div class="top-menu">
            <div class="menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="menu">
                <ul class="menu-nav">
                    <li class="nav-item"><a href="{{ url_for('profile', user_id=user[0]) }}">Home</a></li>
                    <li class="nav-item"><a href="{{ url_for('transactions') }}">Transactions</a></li>
                    <li class="nav-item"><a href="#">Payments</a></li>
                    <li class="nav-item"><a href="{{ url_for('contact') }}">Contact Us</a></li>
                </ul>
            </nav>
        </div>
		<div class="user-profile">
			<p>Welcome, {{ user[1] }}!</p>
            <div class="dropdown">
                <i class="fa fa-caret-down"></i>
                <div class="dropdown-content">
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            </span>
		</div>
	</header>
	<main>
		<h1>Welcome, {{ user[1] }}</h1>
		<section class="account-summary">
            <h2>Account Summary</h2>
            <div class="main-content">

            <div class="credit-card">
                <div class="card-number">
                    {{ cc_number[:4] }} {{ cc_number[4:8] }} {{ cc_number[8:12] }} {{ cc_number[12:16] }}
                </div>
                <div>
                    <span>Valid Thru: 12/25</span>
                    <span>CVV: 123</span>
                </div>
                <div>
                    <span>{{ user[1] }}</span>
                </div>
            </div>
            <table>
                <tr>
                  
                    <th>Balance: {{ user[6] }}</th>
                    <section class="last-transactions">
                        <h2>Last Transactions</h2>
                        <table>
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Amount</th>
                            </tr>
                            {% for transaction in last_transactions %}
                            <tr>
                                <td>{{ transaction[5].strftime('%Y-%m-%d') }}</td>
                                <td>
                                    {% if transaction[1] == user[0] %}
                                    Sent to user {{ transaction[2] }}
                                    {% else %}
                                    Received from user {{ transaction[1] }}
                                    {% endif %}
                                </td>
                                <td>{{ transaction[3] }}</td>

                            </tr>
                            {% endfor %}
                        </table>
                    </section>
                </div>
        
	</main>
	<footer>
		<p>&copy; 2023 My Bank. All rights reserved.</p>
	</footer>
    
</body>
</html>
